FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY=757355ff13b4e11fc45308893c6bd4072679342fd04e3aacc38159a3f464c283
JWT_SECRET_KEY=072ded346619a835ad943321940f7ccb7496aef702b1f1209a65ca5a0b85a7d4

# DB_HOST=127.0.0.1
DB_HOST=host.docker.internal    # Docker's way to reach your Mac/Windows host
DB_PORT=3306
DB_USER=fituser
DB_PASSWORD=fitpassword
DB_NAME=projectpulse

# SharePoint / Microsoft Graph (for onboarding document uploads)
SP_TENANT_ID=your-azure-tenant-id
SP_CLIENT_ID=your-app-client-id
SP_CLIENT_SECRET=your-app-client-secret
SP_SITE_ID=contoso.sharepoint.com,<site-guid>,<web-guid>
SP_DRIVE_ID=<document-library-drive-id>
SP_BASE_FOLDER=Onboarding


# Daily report email (Microsoft Graph / Office 365)
MAIL_TENANT_ID=ec822022-88bd-47c3-bb56-fa921ec6656e
MAIL_CLIENT_ID=ee67cd24-43fd-4a1c-98f6-82710b2a4d32
MAIL_CLIENT_SECRET=your_client_secret_here
MAIL_USERNAME=sandeepkumar.md@fascinateit.com
MAIL_RECIPIENTS=sandeepkumar.md@fascinateit.com,naveen.kumar@fascinateit.com,madhu.bk@fascinateit.com
REPORT_HOUR=6
REPORT_MINUTE=0
